*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,body {
    scroll-behavior: smooth;
  }

html,body{
    overflow-x: hidden;
    height: 100%;
}


/*layout*/

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 24px;
}



@media (min-width:1024px) {
    .container{
        padding: 0 7vw;
    }
    .row{
        display: flex;
        justify-content: center;

    }

    .row .container{
        padding: 0 14px;
    }
    .row .col-main {
        width: calc(100vw - 500px);
        max-width: 800px;
    }
    .row .col-main + section{
        max-width: 400px;
    }

    .row2 .container{
        padding: 0 5vw;
    }

    .row2{
        display: flex;

        justify-content: space-between;
    }
    .row2 .col-main{
        order: 1;
        width: calc(100vw - 500px);
        display: flex;
    }
    .row2 .col-two{
        order: 2;
        width: 500px;
    }
}

/*utilidades*/
.hidden{
    display: none;
}
.relative{
    position: relative;
}

.absolute{
    position: absolute;
}


/*flex*/
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}


/*padding*/
/*margin*/

.mt-20{
    margin-top: 20px;
}


.mt-60{
    margin-top: 60px;
}
.mt-80{
    margin-top: 80px;
}

/*width*/

.mx-25{
    max-width: 25%;
}

.mw-80{
    max-width: 80%;
}

.mx-100{
    max-width: 100%;
}

/*heights*/
.h-100{
    min-height: 100vh;
}



/*colors*/

:root{
    --primary-color: #85E25A;
    --dark-color:#000;
    --light-color:#fff;
}



/*text colors*/

.text-primary{
    color: var(--primary-color);
}


/*text alibg*/

.text-center{
    text-align: center;
}

.text-upp{
    text-transform: uppercase;
}

.spacing-lg{
    letter-spacing: 8px;
}

/*backgrounds*/
.bg-primary{
    background-color: var(--primary-color);
}

/*Fonts*/

:root{
    --font-body: "Satoshi-Medium";
    --font-title:"Satoshi-Black";

    /*sizes*/
    --size-1:12px;
    --size-2:16px;
    --size-3:18px;
    --size-4:20px;
    --size-5:24px;
    --size-6:32px;
    --size-7:40px;
    --size-8:52px;
    --size-9:64px;
}




.size-1{
    font-size: var(--size-1);
}
.size-2{
    font-size: var(--size-2);
}

.size-3{
    font-size: var(--size-3);
}

.size-4{
    font-size: var(--size-4);
}

.size-5{
    font-size: var(--size-5);
}

.size-6{
    font-size: var(--size-6);
}

.size-7{
    font-size: var(--size-7);
}

.size-8{
    font-size: var(--size-8);
}

.size-9{
    font-size: var(--size-9);
}

@media (min-width:1024px) {
    .lg-size-5{
        font-size: var(--size-5);
    }

    .lg-size-6{
        font-size: var(--size-6);
    }

    .lg-size-7{
        font-size: var(--size-7);
    }

    .lg-size-8{
        font-size: var(--size-8);
    }

    .lg-size-9{
        font-size: var(--size-9);
    }

}




.font-title{
    font-family: var(--font-title);
}

/*buttons*/

.boton{
    display: block;
    border: solid var(--dark-color) 4px;
    color: var(--dark-color);
    text-align: center;
    text-decoration: none;
    padding:10px 24px;
    font-size: var(--size-3);
}

.boton-dark{
    background-color: var(--dark-color);
    color: var(--light-color);
}

@media (min-width:1024px) {
    .boton-lg{
        font-size: var(--size-6);
    }



}



body{
    font-family: var(--font-body);

}


/*navbar*/
.navbar{
    display: none;
    justify-content: flex-end;
    padding: 5vh 5vw;
    position:  absolute;
    width: 100vw;
    top: 0;
    z-index: 20;

}

.navbar a{
    display: inline-block;
    color: var(--dark-color);
    font-size: var(--size-2);
    letter-spacing: 2px;
    margin-left: 32px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-title);
}

.navbar a:hover{
    color: var(--primary-color);
    text-shadow: 1px 1px 1px #000000;
}

@media (min-width:1024px) {
    .navbar{
        display: flex;
    }
}

/*hero*/

.hero{
    position: relative;
}

.antetitulo{
    display: block;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.title-image{
    display: flex;
    flex-direction: column;
}



.image-hero{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100vw;
    justify-content: center;


}

.image-hero img{
    max-height: 400px;

}

@media (min-width:1440px) {
    .hero{
        height: 100vh;
        display: flex;
        align-items: center;

        flex-direction: column;
    }
    .hero .container{
        max-width: 55%;
        margin-left: 2vw;
        margin-top: auto;
        margin-bottom: auto;
    }
    .hero .image-hero{
        position: absolute;
        top: 0;
        right: 10vw;
        width: 45%;
        justify-content: center;
        align-items: center;

    }
    .hero .image-hero img{
        max-height: none;
        max-width: 100%;

    }

}


.hero-footer{


    width: 100vw;
    height: auto;
    padding: 0 24px;

}



.counter{
    border-top: solid 1px var(--dark-color);
    padding: 24px 24px;
    display: none;
    justify-content: flex-end;
    width: 100%;
    margin-top: 14px;

    font-size: var(--size-2);
    text-transform: uppercase;
    letter-spacing: 4px;
}

.counter span{
    margin-left: 8px;
}

.counter span.label{
    padding: 8px 8px;
    background-color: var(--primary-color);
}

@media (min-width:1024px){
    .hero-footer{
        display: flex;
        padding-bottom: 12px;
    }

    .hero-footer img{
        margin-right: 24px;
        margin-top: -32px;
    }

    .counter{
        display: flex;
    }
}


/*fecha*/
@media (min-width:1024px){
.img-date {
    position: absolute;
    right: 0;
    bottom: 20vh;
}
.dest{
    max-width: 350px;
}
}




/*objetivos*/

.listado li{
    display: flex;
    margin-bottom: 24px;
}

/*inscripciones*/

.incripcion-cont {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    max-width: 500px;

}

.cronograma-list{

}

.cronograma-list li{
    display: flex;
    margin-bottom: 24px;
}
.cronograma-list li  span{
    font-family: var(--font-title);
    margin-right: 24px;
}